<div class="container blog">
		    <div class="row">
		        <section class="span8">
		            <div class="row">
		            	<% @blogs.each do |blog| %>
			                <div class="post wrapper row-fluid">
			                    <!-- <a class="overlay span4" href="#"> -->
			                    <%= link_to(blog, class: "overlay span4") do %>
			                        <span class="hover">View post</span>
			                        <!-- <img alt="image" class="media-object" src="http://placehold.it/770x514"> -->
			                        <%=  image_tag(blog.image) %>
			                    <% end %> <!-- </a> -->
			                    <div class="span8 post-content">
			                        <div class="clearfix meta mar-t30 mar-t30">
			                            <p class="serif italic pull-left">Date:
			                                <%= link_to blog.created_at.strftime("%e %B %Y"), blog %>
			                            </p>
			                      
			                            <%= link_to(blog, class: "btn btn-quivee pull-right") do %>
			                            	<i class="icon-comment"></i> <%= blog.blog_comments.count %> Comments
			                            <% end %>
			                        </div>
			                        <h2 class="post-title"><%= blog.title %></h2>
			                        <!-- <div class="author">
			                            <p class="serif italic">posted by:
			                                <a>John Doe</a>
			                                in 
			                                <a>Category Name</a>
			                                </p>
			                        </div> -->
			                        <p><%=h truncate(blog.body, :length => 80) %>
			                        </p>
			                        <p class="read-more"><%= link_to "Continue Reading", blog, class: "btn btn-quivee" %></p>
			                    </div>
			                </div>
		                <% end %>
		                
		            </div>
		            <!-- .row -->
		        </section>
		        <!-- .span8 -->
		        <aside class="span4 wrapper">
		            <div class="widget widget-wrapper">
	                    <h3>Categories</h3>
	                    
	                    <ul>
	                    <% @categories.each do |category| %>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">Real Estate</a>
	                            <%= link_to category.name, tag_path(category.name) %>
	                        </li>
	                        
	                    </ul>
	                    <% end %>
		            </div>
		            <!-- .widget -->
		            
		            <!-- .widget -->
		           
		            <!-- .widget -->
		           
		            <!-- .widget -->
		            
		            <!-- .widget -->
		            
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Articles from the Blog</h3>
		                <ul>
		                <% @blogs.each do |blog| %>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#"><%= blog.title %></a></li>
		                <% end %>
		                </ul>
		            </div>
		            <!-- .widget -->
		            
		        </aside>
		        <!-- .span4 -->
		    </div>
		    <!-- .row -->
		</div><!-- .blog -->