<div class="container blog">
		    <div class="row">
		        <section class="span8">
		            <div class="row">
		                <div class="span8 wrapper post">
		                   <!--  <img alt="image" class="media-object" src="http://placehold.it/770x514"> -->
		                    <%= image_tag(@blog.image, class: "media-object") %>
		                    <div class="padding30">
		                        <div class="clearfix meta mar-t30">
		                            <p class="pull-left">Date:
		                                <%= link_to @blog.created_at.strftime("%e %B %Y"), "" %></p>
		                            <%= link_to("#comments", class: "btn btn-quivee pull-right") do %>
			                            	<i class="icon-comment"></i> <%= @blog.blog_comments.count %> Comments
			                            <% end %>
		                        </div>
		                        <h2 class="post-title"><%= @blog.title %></h2>
		                        <!-- <div class="author">
		                            <p>posted by:
		                                <a>John Doe</a>
		                                in 
		                                <a>Category Name</a></p>
		                        </div> -->
		                        <p><%= @blog.body.html_safe %></p>
		                        
		                    </div>
		                </div>
		                <!-- .post -->
		                <div class="comment-container span8">
		                    <h3 class="serif italic"><%= @blog.blog_comments.count %> Responses to "<%= @blog.title %>"</h3>
		                    <div class="comments">
		                        <ul class="media-list">
		                        <% @blog.blog_comments.each do |comment| %>
		                            <li class="media">
		                                <a class="pull-left" href="#">
		                                    <img alt="" class="media-object comment-avatar img-circle" src="http://placehold.it/570x570">
		                                </a>
		                                <div class="media-body">
		                                    <div class="comment-holder">
		                                        <div class="media-head clearfix row-fluid">
		                                            <div class="span10">
		                                                <h4 class="media-heading"><% comment.commenter_name %></h4>
		                                            </div>
		                                            <!--/span10-->
		                                            <!-- <div class="span2">
		                                                <a class="btn btn-quivee pull-right" href="#" title="">Reply</a>
		                                            </div> -->
		                                            <!--/span2-->
		                                        </div>
		                                        <!--/ media-head-->
		                                        <p class="serif italic comment-date">Date: <%= comment.created_at %></p>
		                                        <div class="comment-body">
		                                            <p>
		                                                <%= comment.body %>
		                                            </p>
		                                        </div>
		                                        <!--/comment-body-->
		                                    </div>
		                                    <!--/comment-holder-->
		                                    <!--NESTED COMMENT STARTS-->
		                                    <!--  -->
		                                     
		                                    <!--NESTED COMMENT ENDS-->
		                                </div>
		                            </li>
		                            
		                            <% end %>
		                        </ul>
		                    </div>
		                    <!-- .comments -->
		                </div>
		                <!-- .comment-container -->
		                <div class="comment-form span8">
		                    <h3 class="section-title">Leave a comment</h3>
		                    
		                    <form action="#" method="post">
		                        <div class="input-prepend">
		                            <span class="add-on">
		                                <i class="icon-user"></i>
		                            </span>
		                            <input class="span4" placeholder="Name" type="text">
		                        </div>
		                        <div class="input-prepend">
		                            <span class="add-on">
		                                <i class="icon-envelope"></i>
		                            </span>
		                            <input class="span4" placeholder="Email" type="text">
		                        </div>
		                        <div class="input-prepend">
		                            <span class="add-on">
		                                <i class="icon-link"></i>
		                            </span>
		                            <input class="span4" placeholder="Website" type="text">
		                        </div>
		                        <textarea class="span6" placeholder="Your comment" rows="7"></textarea>
		                        <div class="clearfix row mar-b60">
		                            <button class="btn span2 btn-quivee btn-large" type="submit">Submit</button>
		                        </div>
		                    </form>
		                </div>
		            </div>
		            <!-- .row -->
		        </section>
		        <!-- .span8 -->
		        <aside class="span4 wrapper">
		            <div class="widget widget-wrapper">
	                    <h3>Categories</h3>
	                    <ul>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">Real Estate</a></li>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">Investment</a></li>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">Properties</a></li>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">News</a></li>
	                        <li>
	                            <i class="icon-caret-right"></i>
	                            <a href="#" title="title">Marketing</a></li>
	                    </ul>
		            </div>
		            <!-- .widget -->
		            <div class="widget">
		                <div class="tabbable">
		                    <!-- Only required for left/right tabs -->
		                    <ul class="nav nav-tabs">
		                        <li class="active"><a href="#tab1" data-toggle="tab">Archives</a></li>
		                        <li><a href="#tab2" data-toggle="tab">Comments</a></li>
		                    </ul>
		                    <div class="tab-content">
		                        <div class="tab-pane active" id="tab1">
		                            <ul>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Lorem ipsum dolor sit amet</a></li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Duis suscipit venenatis</a></li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Etiam aliquet aliquam
		                                    </a>
		                                </li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Cras venenatis pellentesque
		                                    </a>
		                                </li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Vivamus vitae venenatis pellentesque</a></li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">In tempus venenatis
		                                    </a>
		                                </li>
		                                <li>
		                                    <i class="icon-caret-right"></i>
		                                    <a href="#" title="title">Suspendisse vulputate quis</a></li>
		                            </ul>
		                        </div>
		                        <div class="tab-pane" id="tab2">
		                            <ul>
		                                <li class="clearfix row-fluid comment">
		                                    <div class="pull-right span12">
		                                        <a href="#" title="title">Lorem ipsum dolor sit amet</a>
		                                        <p>Abore et dolore magna aliqua adipisicing elit seddo.</p>
		                                    </div>
		                                </li>
		                                <li class="clearfix row-fluid comment">
		                                    <div class="pull-right span12">
		                                        <a href="#" title="title">Duis suscipit venenatis</a>
		                                        <p>Abore et dolore magna aliqua adipisicing elit seddo.</p>
		                                    </div>
		                                </li>
		                                <li class="clearfix row-fluid comment">
		                                    <div class="pull-right span12">
		                                        <a href="#" title="title">Etiam aliquet aliquam</a>
		                                        <p>Abore et dolore magna aliqua adipisicing elit seddo.</p>
		                                    </div>
		                                </li>
		                                <li class="clearfix row-fluid comment">
		                                    <div class="pull-right span12">
		                                        <a href="#" title="title">Cras venenatis pellentesque</a>
		                                        <p>Abore et dolore magna aliqua adipisicing elit seddo.</p>
		                                    </div>
		                                </li>
		                                <li class="clearfix row-fluid comment">
		                                    <div class="pull-right span12">
		                                        <a href="#" title="title">In tempus venenatis</a>
		                                        <p>Abore et dolore magna aliqua adipisicing elit seddo.</p>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Designed for your business</h3>
		                <div class="row-fluid clearfix">
		                    <div class="span3 pull-left icons hidden-phone">
		                        <i class="icon-briefcase icon-4x"></i>
		                    </div>
		                    <div class="span9">
		                        <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
		                            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
		                        <a href="#" title="Continue">Continue &raquo;</a>
		                    </div>
		                </div>
		                <!-- .clearfix -->
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Ample Customizations</h3>
		                <div class="row-fluid clearfix">
		                    <div class="span3 pull-left icons hidden-phone">
		                        <i class="icon-cogs icon-4x"></i>
		                    </div>
		                    <div class="span9">
		                        <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
		                            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
		                        <a href="#" title="Continue">Continue &raquo;</a>
		                    </div>
		                </div>
		                <!-- .clearfix -->
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Fully Responsive</h3>
		                <div class="row-fluid clearfix">
		                    <div class="span3 pull-left icons hidden-phone">
		                        <i class="icon-move icon-4x"></i>
		                    </div>
		                    <div class="span9">
		                        <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
		                            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
		                        <a href="#" title="Continue">Continue &raquo;</a>
		                    </div>
		                </div>
		                <!-- .clearfix -->
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Bootstrap Compatible</h3>
		                <div class="row-fluid clearfix">
		                    <div class="span3 pull-left icons hidden-phone">
		                        <i class="icon-thumbs-up icon-4x"></i>
		                    </div>
		                    <div class="span9">
		                        <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
		                            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
		                        <a href="#" title="Continue">Continue &raquo;</a>
		                    </div>
		                </div>
		                <!-- .clearfix -->
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Articles from the Blog</h3>
		                <ul>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Lorem ipsum dolor sit amet, consectetur
		                            adipiscing</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Duis suscipit venenatis pellentesque tempor
		                            libero</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Etiam aliquet aliquam metus in tristique</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Cras venenatis pellentesque venenatis
		                            pellentesque</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Vivamus vitae venenatis pellentesque nunc sed
		                            nisl</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">In tempus venenatis pellentesquetempor</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Suspendisse vulputate venenatis pellentesque
		                            quis</a></li>
		                </ul>
		            </div>
		            <!-- .widget -->
		            <div class="widget widget-wrapper">
		                <h3>Most commented articles</h3>
		                <ul>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Lorem ipsum dolor sit amet, consectetur
		                            adipiscing</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Duis suscipit venenatis pellentesque tempor
		                            libero</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Etiam aliquet aliquam metus in tristique</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Cras venenatis pellentesque venenatis
		                            pellentesque</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Vivamus vitae venenatis pellentesque nunc sed
		                            nisl</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">In tempus venenatis pellentesquetempor</a></li>
		                    <li>
		                        <i class="icon-caret-right"></i>
		                        <a title="title" href="#">Suspendisse vulputate venenatis pellentesque
		                            quis</a></li>
		                </ul>
		            </div>
		        </aside>
		        <!-- .span4 -->
		    </div>
		    <!-- .row -->
		</div><!-- .blog -->