<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ondo - A New York City Web and iOS Development Shop</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Ondo is a Web and iOS Development shop based in New York City" name="description">
        <meta content="ondo" name="author">
        <meta content="ondo, nyc, web design, agency, apps, software, ios" name="keywords">
        
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'> 
        <!-- Bootstrap  -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome  -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- iLightbox -->
        <link rel="stylesheet" type="text/css" href="css/ilightbox.css"/>
        <link rel="stylesheet" type="text/css" href="dark-skin/skin.css"/>
        
        <link rel="stylesheet" type="text/css" href="css/isotope.css"/>
        <!-- Flex slider -->
        <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
        <!-- Pie chart css -->
        <link rel="stylesheet" type="text/css" href="css/jquery.easy-pie-chart.css">
        <!-- quivee Style -->
        <link href="css/colors.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      	<script src="js/html5shiv.js"></script>
    	<![endif]-->
    	
    </head>
    <body class="page-aqua hidden-body">
    <!--<body class="page-aqua hidden-body"> -->

		<!-- Navigation -->
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="logo"><a class="brand" href="#">ondo</a></h1>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li><a class="scroll-link" href="#row2">About</a></li>
								<li><a class="scroll-link" href="#row4">Service</a></li>
								 <li><a class="scroll-link" href="#row5">Portfolio</a></li>
								<!-- <li><a class=""  href="/blogs">Blog</i></a> -->
								</li> 
								<li><a class="scroll-link" href="#row6">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- .navbar -->
			<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: "notices" %>
      <% end %>

		</header>
		 
		<!-- Home -->
		<section id="first" class="home text-center bg1 fullheight" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" data-stellar-vertical-offset="0" data-stellar-vertical-offset="0" data-stellar-vertical-offset="0">
			<a class="anchor" id="row1"></a>
			<div class="headline-wrapper fullheight">
				<div class="headline slides">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<h2>A <span class="emphasis">New York City</span> based web and iOS development shop.</h2>
							</li>
						</ul>
					</div>
				</div>
			</div>	
		</section>
		
		<!-- About -->
		<section id="second" class="about text-center">
			<a class="anchor" id="row2"></a>
			
			<div class="wrapper bg-colored ">	
				<div class="container">
					<div class="row">
						<div class="span12">
							<h2>Our Commitment to Your Business</h2>
							<h3>Ondo creates beautiful, usable websites &amp; interfaces that transform brands and grow businesses.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">	
				<div class="container story">			
					<div class="row">
						<div class="span12">
							<h2>What we do?</h2>
							<h3>The only way to do great work<br />
							is to <span class="emphasis">love what you do.</span></h3>
						</div>
					</div>
	
					<div class="row waypoint-1">
						<div class="span4 what-we-do text-center hidden-element-1">
							<div class="full-rounded">
								<i class="quivee-icon icon-pencil icon-4x"></i>
							</div>
							<h4 class="bold">Design</h4>
							<p>We have a dedicated graphic design team to help you bring your ideas to life. </p>
						</div>
						<div class="span4 what-we-do text-center hidden-element-1">
							<div class="full-rounded">
								<i class="quivee-icon icon-code icon-4x"></i>
							</div>
							<h4 class="bold">Code</h4>
							<p>Our development team is forward thinking, with a keen eye for user experience.</p>
						</div>
						<div class="span4 what-we-do text-center hidden-element-1">
							<div class="full-rounded">
								<i class="quivee-icon icon-rocket icon-4x"></i>
							</div>
							<h4 class="bold">Ship</h4>
							<p>Deploy your application to any platform any anywhere. 99.9% uptime guarantee.</p>
						</div>
					</div>
				</div>
			</div>
			
						
		</section>
		
		<!-- Background Image -->
		<section id="third" class="text-center bg2">
			<div class="headline-wrapper fullheight pattern">
				<div class="headline">
					<div class="headline-holder">
						<h2><span class="emphasis">Creativity</span> is intelligence having fun</h2>
						<p class="headline-author">Albert Einstein</p>
					</div>	
				</div>
			</div>
		</section>
		
		
		
		<!-- Services -->
		<section id="sixth" class="services text-center">
			<a class="anchor" id="row4"></a>
			
			<div class="wrapper bg-colored ">	
				<div class="container">
					<div class="row">
						<div class="span12">
							<h2>Services</h2>
							<h3>We work as an all-in-one team,<br />
							including dedicated design, project management, and development.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">	
				<div class="container">			
					<div class="row">
						<div class="span12">
							<h2>Some things we can do for you</h2>
						</div>
					</div>
					<div class="row waypoint-3">
						<div class="span4">
							<div class="service-wrapper hidden-element-3">
								<h4>Business</h4>
								<div class="full-rounded">
									<i class="icon-building icon-5x"></i>
								</div>
								<p>A marketing strategy that adds value. Connect with your audience.
								</p>
								<dl>
									
									<dd>Custom theming and development</dd>
									<dd>PSD to valid xHTML</dd>
									<dd>Hand coded XHTML and CSS markup</dd>
									<dd>Semantic Markup used for SEO</dd>
								</dl>
							</div><!-- service-wrapper -->
						</div>
						<div class="span4">
							<div class="service-wrapper hidden-element-3">
								<h4>Startup</h4>
								<div class="full-rounded">
									<i class="icon-fire icon-5x"></i>
								</div>
								<p>Perfect for early stage startups. Launch your MVP with a full backend to start signing up users.
								</p>
								<dl>
									
									<dd>MVP functionality for demos</dd>
									<dd>full web design</dd>
									<dd>full backend functionality</dd>
									<dd>Database setup</dd>
								</dl>
							</div><!-- service-wrapper -->
						</div>
						<div class="span4">
							<div class="service-wrapper hidden-element-3">
								<h4>Mobile</h4>
								<div class="full-rounded">
									<i class="icon-gamepad icon-5x"></i>
								</div>
								<p>In need of a mobile solution? Native mobile apps boost customer engagement.  
								</p>
								<dl>

									<dd>Fully Functional iOS App</dd>
									<dd>Optimized UX/UI Design</dd>
									<dd>Shipment to the App Store</dd>
								</dl>
							</div><!-- service-wrapper -->
						</div>
					</div>
				</div>
			</div>
			
		</section>
		
		<!-- Background Image -->
		<section id="seventh" class="text-center bg4">
			<div class="headline-wrapper fullheight pattern">
				<div class="headline">
					<div class="headline-holder">
						<h2 class="headline">Real <span class="emphasis">web designers</span> write code. Always have, always will</h2>
						<p class="headline-author">Jeffrey Zeldman</p>
					</div>	
				</div>
			</div>
		</section>
		
		<!-- Portfolio -->
		 <section id="eighth" class="portfolio text-center">
			<a class="anchor" id="row5"></a>
			
			<div class="wrapper bg-colored">	
				<div class="container">
					<div class="row">
						<div class="span12">
							<h2>Portfolio</h2>
							<h3>Strategy, creativity, and a wealth of technical expertise,<br />
							all balanced by a collaborative approach to working with our clients.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">	
				<div class="container">
					<div class="row">
						<div class="span12">
							<h2>Recent work</h2>
							
						</div>
					</div>
					
					<ul id="portfolio-list" class="row isotope filterable-grid">
						
						<!-- removed class portfolio-thumb -->
						<li class="span6 block logo-design" data-type="logo-design" id="5">
							<a class="" href="#" title="portfolio">
								<img class="portfolio-image" src="https://s3.amazonaws.com/ondo/portfolio/lola-port.png" alt="portfolio image" /> <a href='http://www.reddera.com' target="_blank">Nurse Lola</a>
							</a>
						</li>
						
						<li class="span6 block logo-design" data-type="logo-design" id="7">
							<a class="" href="#" title="portfolio">
								<img class="portfolio-image" src="https://s3.amazonaws.com/ondo/portfolio/reddera-port.png" alt="portfolio image" /> <a href='http://www.ecure-treatment.org' target="_blank">Reddera</a>
							</a>
						</li>
						<li class="span6 block photography" data-type="photography" id="8">
							<a class="" href="#" title="portfolio">
								<img class="portfolio-image" src="https://s3.amazonaws.com/ondo/portfolio/ecure-port.png" alt="portfolio image" /> <a href='http://www.nurselola.com' target="_blank">Ecure</a>
							</a>
						</li>
						<li class="span6 block photography" data-type="photography" id="8">
							<a class="" href="#" title="portfolio">
								<img class="portfolio-image" src="https://s3.amazonaws.com/ondo/portfolio/playbookr-port.png" alt="portfolio image" /> <a href='https://playbookr.us/' target="_blank">Playbookr</a>
							</a>
						</li>

						
					</ul>
					
				</div>
			</div>
			
		</section> 			
					
		<!-- Background Image -->
		<section id="ninth" class="text-center bg5">
			<div class="headline-wrapper fullheight pattern">
				<div class="headline">
					<div class="headline-holder">
						<h2 class="headline"><span class="emphasis">Creativity</span> is the greatest rebellion in existence</h2>
						<p class="headline-author">Osho</p>
					</div>	
				</div>
			</div>
		</section>			
		
		<!-- Contact -->
		<section id="tenth" class="contact text-center">
			<a class="anchor" id="row6"></a>
			
			<div class="wrapper bg-colored">	
				<div class="container">
					<div class="row">
						<div class="span12">
							<h2>Contact</h2>
							<h3>Send Us a Message. It's free!</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<form class="contact-form" method="post" action="contact-form">
							<div class="span4 offset2">
								<label class="hidden-phone text-left" for="contact_attributes_name">Name</label>
								<div class="text-left">
									<input class="span4" type="text" id="contact_attributes_name" name="contact[name]" placeholder="Please insert your full name" required>
								</div>
							</div>
							<div class="span4">
								<label class="hidden-phone text-left" for="contact_attributes_email">Email</label>
								<div class="text-left">
									<input class="span4" type="email" id="contact_attributes_email" name="contact[email]" placeholder="Please insert your email" required>
								</div>
							</div>
							<div class="span10 offset2">
								<label class="hidden-phone text-left" for="contact_attributes_subject">Subject</label>
								<div class="text-left">
									<input class="span8" type="text" id="contact_attributes_subject" name="contact[subject]" placeholder="Please insert the subject" required>
								</div>
							</div>
							<div class="span10 offset2">
								<label class="hidden-phone text-left" for="contact_attributes_message">Message</label>
								<div class="text-left">
									<textarea class="span8" rows="8" id="contact_attributes_message" name="contact[message]" placeholder="Please insert the subject" required></textarea>
								</div>
							</div>
							<button type="submit" class=" span8 offset2 btn btn-quivee btn-large">Submit</button>
						</form>
					</div>
				</div>
			</div>

			
		</section>			
					
			
		         
	    <!-- Javascript  -->
	    <script type="text/javascript" src="js/jquery.js"></script>
	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	    <script type="text/javascript" src="js/waypoints.min.js"></script>
	    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
	    <script type="text/javascript" src="js/ilightbox.packed.js"></script>
	    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	    <script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script> 
	    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script> 
	    <script type="text/javascript" src="js/jpreLoader.js"></script> 
	    <script type="text/javascript" src="js/custom.js"></script>
	    
    </body>
</html>