<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Name: <%=  @contact.name  %></h2>
    <h2>Email: <%= @contact.email %> </h2>
    <h2>Subject: <%= @contact.subject %> </h2>
    <h2>Message: </h2><p><%=  @contact.message %></p>
  </body>
</html>