@import "bootstrap";
@import "style";
@import "blogs";
@import "colors";
@import "contacts";
@import "flexslider";
@import "font-awesome.min";
@import "isotope";
@import "jquery.easy-pie-chart";
@import "responsive";
@import "style";



.notices { 
	text-align: center;
	color: white;
	background: #57AE57
}