/* Css */
/* ======================================================================== */
/* ! Buttons
/* ======================================================================== */
 .btn {
 	border: none;
	font-size: 16px;
 	display: inline-block;
 	text-align: center;
 	font-family: "Lato";
 	font-weight: 700;
 	text-shadow: none;
 	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn:hover,
.btn:active {
	text-decoration: none;
	color: #fff;	
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
		-ms-transition: 0.25s;
			transition: 0.25s;
}
.btn-large,
.btn-small,
.btn-mini {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		-ms-border-radius: 4px;
			border-radius: 4px;
}
.btn-large {
	padding: 15px 50px;
}
.btn-transparent,
.btn-transparent:focus, 
.btn-transparent:active,
.btn-transparent.active, 
.btn-transparent.disabled, 
.btn-transparent[disabled] {
	background: rgba(255,255,255,.2) none;
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 2px #656870;
	   -moz-box-shadow: inset 0px 0px 0px 2px #656870;
		-ms-box-shadow: inset 0px 0px 0px 2px #656870;
			box-shadow: inset 0px 0px 0px 2px #656870;
}
.btn-transparent:hover {
	background: rgba(255,255,255,.5) none;
}
/* ======================================================================== */
/* ! Margins
/* ======================================================================== */
.mar-t10 { margin-top: 10px; }
.mar-t20 { margin-top: 20px; }
.mar-t30 { margin-top: 30px; }
.mar-t40 { margin-top: 40px; }
.mar-t50 { margin-top: 50px; }
.mar-t60 { margin-top: 60px; }
.mar-b10 { margin-bottom: 10px; }
.mar-b20 { margin-bottom: 20px; }
.mar-b30 { margin-bottom: 30px; }
.mar-b40 { margin-bottom: 40px; }
.mar-b50 { margin-bottom: 50px; }
.mar-b60 { margin-bottom: 60px; }
/* ======================================================================== */
/* ! General
/* ======================================================================== */
body {
	font: 16px/24px "Lato", Arial, Helvetica, Geneva, sans-serif;
	background: #f3f6f8;
	color: #2e3137;
	padding-top: 60px;
}
body.hidden-body {
	visibility: hidden;
}
body.visible-body {
	visibility: visible;
}
a:hover {
	text-decoration: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-ms-transition: 0.25s;
	transition: 0.25s;
}
.light {
	font: 300 'Lato';
}
.uppercase {
	text-transform: uppercase;
}
.fullheight {
	height: 100%;
}
.wrapper {
	box-sizing: border-box;
	position: relative;
	padding: 60px 0;
}
section {
	position: relative;
}
.anchor {
	position: absolute;
	top: -60px;
}
.bordered {
	border: 5px solid #fff;
	display: inline-block;
}
.full-rounded {
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-ms-border-radius: 1000px;
}
.bg1 { background: url('../images/bg-1.jpg') no-repeat 50% 0; }
.bg2 { background: url('../images/bg-4.jpg') no-repeat 50% 0; }
.bg3 { background: url('http://placehold.it/1920x780') no-repeat 50% 0; }
.bg4 { background: url('../images/bg-5.jpg') no-repeat 50% 0; }
.bg5 { background: url('../images/bg-bridge.jpg') no-repeat 50% 0; }
.bg1{ height: 600px; }
.bg2, .bg3, .bg4, .bg5 {
	height: 700px;
	padding: 0;
	background-attachment: fixed;
}
.pattern {
	background: url('../images/pattern.png') repeat left top;
}
.headline-holder {
	display: inline-block;
}
.headline h2 {
	color: #fff;
	background: rgba(0,0,0,.6);
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	font-size: 36px;
	line-height: 56px;
}
.headline p {
	color: #000;
	background: rgba(255, 255, 255, .5);
	display: block;
	margin: 0;
	padding: 5px 10px;
	font-size: 18px;
}
.headline-wrapper {
   display: table;
   width: 100%;
}
.headline {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.hidden-element-1,
.hidden-element-2,
.hidden-element-3,
.hidden-element-4 {
	opacity: 0;
}
.visible-element {
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	   -moz-transition: opacity 1s ease-in-out;
		-ms-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
}
table {
	background: #fff;
}
.slides {
	overflow: hidden;
}
#jpreOverlay {
	background-color: #fff;
}
#jpreSlide{
	font-size:14px;
	font-weight:bold;
	color: #333;
	text-align:center;
	width:50%;
	height:30%;
}
#jpreLoader{
	width:100%;
	height:1px;
	border:none;
}
#jpreBar {
	background: #52bad5;
}
#jprePercentage {
	color:#333;
	text-align:center;
	top:-100%;
	margin: 20px 0 0;
}
/* ======================================================================== */
/* ! Typography
/* ======================================================================== */
h1, h2, h3, h4, h5, h6, p { margin: 0 0 20px; letter-spacing: 0; }
h1 { font: 300 56px/64px "Lato", sans-serif; } 
h2 { font: 300 48px/56px "Lato", sans-serif; }
h3 { font: 300 30px/36px "Lato", sans-serif; }
h3 { font: 300 24px/30px "Lato", sans-serif; }
h4 { font: 300 18px/24px "Lato", sans-serif; }
h5 { font: 300 16px/22px "Lato", sans-serif; }
h6 { font: 300 14px/20px "Lato", sans-serif; }
/* ======================================================================== */
/* ! Logo
/* ======================================================================== */
.logo {
	margin: 0;
	padding: 0;
}
.logo .brand {
	width: 115px;
	height: 24px;
	display: block;
	background: url('../images/logo_1.png') no-repeat 0 0;
	text-indent: -10000px;
}
.logo-footer {
	width: 136px;
	height: 52px;
	display: block;
	background: url('../images/logo_2.png') no-repeat 0 0;
	text-indent: -10000px;
	margin: 0 auto;
}
/* ======================================================================== */
/* ! Nav
/* ======================================================================== */
.navbar .brand {
	color: #222a31;
	padding: 0;
	margin-top: 15px;
	margin-left: 0;
	height: 35px;
}
.nav {
	font: 700 16px/16px "Lato", sans-serif;
	text-shadow: none;	
}
.navbar-inner {
	background: #fff;
	background-image: none;
}
.navbar .nav > li > a {
	color: #222a31;
	padding: 20px;
}
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
	text-shadow: none;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.dropdown-menu {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
	padding: 20px 15px;
	font-weight: bold;
}
.navbar .nav > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu:before {
	display: none;
}
.navbar .pull-right > li > .dropdown-menu, 
.navbar .nav > li > .dropdown-menu.pull-right {
	right: 20px;
}
/* ======================================================================== */
/* ! Pricing table
/* ======================================================================== */
.pricing-table {
	padding: 30px 0 0;
	background: #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-box-shadow: inset 0 0 0 1px #ebebeb;
	   -moz-box-shadow: inset 0 0 0 1px #ebebeb;
			box-shadow: inset 0 0 0 1px #ebebeb;
}
.pricing-table:hover {
	top: -10px;
	position: relative;
	cursor: pointer;
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
		-ms-transition: 0.25s;
			transition: 0.25s;
}
.pricing-table h4 {
	padding: 0 0 30px;
	margin: 0 0 30px;
	border-bottom: 1px solid #ebebeb;
}
.price {
	font-size: 88px;
}
.decimal {
	font-size: 44px;
}
.pricing-price {
	padding: 40px 0;
	position: relative;
}
.pricing-features {
	padding: 0 10px 40px;
}
.focus {
	margin-top: -30px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.focus .pricing-price {
	padding: 70px 0;
}
.focus .pricing-features {
	color: #fff;
}
.pricing-action a.bg-quivee {
	display: block;
	padding: 15px 0;
}
.focus .pricing-action a.bg-quivee {
	border-top: 1px solid #ebebeb;
}
/* ======================================================================== */
/* ! Tabs & Toggle
/* ======================================================================== */
.tab-content {
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.nav-tabs {
	margin: 0;
}
.accordion {
	background: #fff;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.accordion-group {
	border: none;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
		-ms-border-radius: 0px;
			border-radius: 0px;
}
/* ======================================================================== */
/* ! Form
/* ======================================================================== */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding: 10px 6px;
}
.input-append .add-on, .input-prepend .add-on {
	padding: 10px;
}
.form-horizontal .control-label {
	float: left;
	width: 160px;
	padding-top: 10px;
	text-align: right;
}
/* ======================================================================== */
/* ! Footer
/* ======================================================================== */
footer * {
	margin: 0;
	padding: 0;
}
footer {
	color: #fff;
}
footer a {
	color: #fff !important;
}
.footer-icons {
	margin: 30px 0;
}
.footer-icons a {
	background: rgba(255, 255, 255, .2);
	height: 30px;
	width: 30px;
	display: inline-block;
}
.footer-icons a:hover {
	background: rgba(255, 255, 255, .5);
}
.footer-icons a i {
	position: relative;
	top: 5px;
}

/* ======================================================================== */
/* ! About us
/* ======================================================================== */
.what-we-do .full-rounded {
	background: #656870;
	display: inline-block;
	height: 170px;
	width: 170px;
	color: #f3f6f8;
	margin: 30px 0;
}
.what-we-do .full-rounded i {
	position: relative;
	top: 56px;
}
.skills h4,
.what-we-do h4 {
	font: 700 20px/24px "Lato", sans-serif
}
.what-we-do p {
	padding: 0 30px;
}
.percentage {
	margin: 0 auto 30px;
	height: 110px;
	width: 110px;
}
/* ======================================================================== */
/* ! The team
/* ======================================================================== */
.member-wrapper {
	background: #fff;
	margin: 30px 0 0;
}
.member-description {
	padding: 30px 20px;
}
.member-description h4 {
	font: 700 20px/24px "Lato", sans-serif;
	margin: 0 0 2px;
}
.member-role {
	color: #9399a2;
}
.member-wrapper a i,
.full-profile a i {
	color: #656870;
}
.member-wrapper ul {
	margin: 0;
}
.member-photo a .hover {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 46% 0 50%;
	text-align: center;
	position: absolute;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 16px;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
}
.member-photo a {
	display: block;
	overflow: hidden;
	position: relative;
}
.member-photo a:hover .hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.full-profile .member-name {
	margin: 0 0 15px;
}
.full-profile .member-role {
	font-size: 18px;
}
.progress {
	position: relative;
}
.progress > span {
	font-size: 12px;
	position: absolute;
	left: 5px;
	color: #fff;
}
.progress .bar {
  -webkit-transition: width 1s ease !important;
     -moz-transition: width 1s ease !important;
       -ms-transition: width 1s ease !important;
          transition: width 1s ease !important;
}
.template-message {
	font: 300 24px/30px "Lato", sans-serif;
	text-align: left;
	position: relative;
	top: -8px;
}
.template-message p {
	margin: 0;
}
/* ======================================================================== */
/* ! Service
/* ======================================================================== */
.service-wrapper {
	background: #fff;
	padding: 30px;
	margin: 30px 0 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			box-sizing: border-box;
}
.service-wrapper h4,
.service-wrapper dt {
	font: 700 20px/24px "Lato", sans-serif
}
.service-wrapper dl {
	margin: 0;
}
.service-wrapper dt {
	margin-bottom: 20px;
}
.service-wrapper dd {
	border-bottom: 1px solid #e0e1e2;
	line-height: 36px;
	margin: 0;
}
.service-wrapper dd:last-child {
	border: none;
}
.service-wrapper .full-rounded {
	display: inline-block;
	height: 200px;
	width: 200px;
	color: #f3f6f8;
	margin: 30px 0;	
	box-shadow: 0px 0px 0px 5px #fff inset;
}
.service-wrapper .full-rounded i {
	position: relative;
	top: 65px;
	left: 1px;
}
.service-wrapper:hover {
	text-decoration: none;
	top: -10px;
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
		-ms-transition: 0.25s;
			transition: 0.25s;
}
/* ======================================================================== */
/* ! Portfolio
/* ======================================================================== */
#portfolio-list,
#portfolio-filter {
	list-style: none;
	margin-top: 30px;
}
#portfolio-list .block {
	margin-bottom: 30px;
}
#portfolio-filter a {
	background: transparent;
	box-shadow: 0px 0px 0px 2px #656870 inset;
	color: #656870;
}
#portfolio-filter a:hover {
	color: #9a9eab;
}
#portfolio-filter .active a {
	box-shadow: none;
}
.portfolio-image {
	margin: 0 auto;
	border-radius: 5px;
}
.portfolio-thumb {

}
/* ======================================================================== */
/* ! Contact
/* ======================================================================== */
.contact-form button {

}
.map iframe {
	width: 100%;
	height: 400px;
	border: none;
	padding: 0;
	margin: 0 0 -5px;
}
/* ======================================================================== */
/* ! Blog
/* ======================================================================== */
.post {
	border-bottom: 1px solid #ddd;
}
.post:last-of-type {
	border-bottom: none;
}
.widget-wrapper {
	background: #fff;
	padding: 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
.widget .tab-content {
	background: #fff;
	padding: 30px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.widget .nav-tabs,
.widget .nav-tabs > .active > a, 
.widget .nav-tabs > .active > a:hover, 
.widget .nav-tabs > .active > a:focus,
.widget .nav-tabs > li > a {
	border: none;
}
.widget .nav-tabs > li {
	margin: 0 1px 0 0;
	padding: 0;
}
.widget {
	margin-bottom: 60px;
}
.widget ul {
	list-style: none;
	list-style-position: inside;
	margin: 0;
}
.widget ul li {
	padding: 0 0 0 10px;
	margin: 0 0 10px;
}
.widget ul li:last-of-type {
	margin: 0;
}
.widget ul li i.icon-caret-right {
	margin: 0 0 0 -10px;
}
.post a:hover .hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.post a.overlay {
	display: block;
	overflow: hidden;
	position: relative;
}
.post a .hover {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 30% 0 35%;
	text-align: center;
	position: absolute;
	color: #fff;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 16px;
}
.comment-avatar {
	width: 64px;
	height: 64px;
}
.comment-container {
	padding: 30px 0;
}
ul.media-list li.media div.comment-holder {
	border-bottom: 1px dashed #CDCDCD;
	margin: 0 0 20px !important;
	padding: 10px 0 20px;
}
/* ======================================================================== */
/* ! Bootstrap resetting elements for flat design
/* ======================================================================== */
.btn,
.progress .bar {
	background-image: none;
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.progress .bar {
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none;
}