<!DOCTYPE html>
<html>
<head>
  <title>Ondo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="logo"><a class="brand" href="#">ondo</a></h1>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						
						<li><a class="scroll-link" href="/#row2">About</a></li>
						<li><a class="scroll-link" href="/#row4">Service</a></li>
						<li><a class="scroll-link" href="/#row5">Portfolio</a></li>
						<li><a class=""  href="/blogs">Blog</i></a>
						</li> 
						<li><a class="scroll-link" href="/#row6">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- .navbar -->
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}", class: "notices" %>
	<% end %>

</header>

<%= yield %>

<footer >
	<div class="wrapper bg-colored">
		<div class="container text-center">
			<div class="row">
				<div class="span12">
					<a href="#" class="logo-footer">quivee</a>
					<!-- <ul class="unstyled inline footer-icons">
						<li><a class="full-rounded" href="#" title="social"><i class="icon-twitter"></i></a></li>
						<li><a class="full-rounded" href="#" title="social"><i class="icon-facebook"></i></a></li>
						<li><a class="full-rounded" href="#" title="social"><i class="icon-linkedin"></i></a></li>
						<li><a class="full-rounded" href="#" title="social"><i class="icon-dribbble"></i></a></li>
						<li><a class="full-rounded" href="#" title="social"><i class="icon-pinterest"></i></a></li>
						<li><a class="full-rounded" href="#" title="social"><i class="icon-github"></i></a></li>
					</ul> -->
					<p>&copy; 2013 - Ondo Corporation</p> 
				</div>
			</div>
		</div>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61248635-1', 'auto');
  ga('send', 'pageview');

</script>		
</footer>

</body>
</html>
